<a href="https://colab.research.google.com/github/cherryng/MLcourse/blob/main/H5_CapstoneProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import Python packages
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import tensorflow as tf

In [4]:
#data set can be downloaded from Kaggle https://www.kaggle.com/competitions/instacart-market-basket-analysis/data
#Since they are too big to upload to github, I am uploading them from my laptop

data_aisles = pd.read_csv("aisles.csv")
print(f"Number of records: {len(data_aisles)}")
data_aisles.head()

Number of records: 134

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [5]:
data_prod = pd.read_csv("products.csv")
print(f"Number of records: {len(data_prod)}")
data_prod.head()

Number of records: 49688

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [6]:
data_dept = pd.read_csv("departments.csv")
print(f"Number of records: {len(data_dept)}")
data_dept.head()

Number of records: 21

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [7]:
data_samp = pd.read_csv("sample_submission.csv")
print(f"Number of records: {len(data_samp)}")
data_samp.head()

Number of records: 75000

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

In [25]:
data_orders = pd.read_csv("orders.csv")
print(f"Number of records: {len(data_orders)}")
print(data_orders.head())

#Find out number of users:
user_id = data_orders["user_id"]
total_user = user_id.max()
print("number of users:", total_user)

#Check how many times each user have ordered
order_no = np.zeros(total_user,dtype=int)
for i in range(1,3):
    subset = np.where(data_orders["user_id"] == i)
    order_no[i] = len(subset[0]) 
    print(i, subset, order_no[i] )

Number of records: 3421083
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
number of users: 206209
1 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),) 11
2 (array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]),) 15

In [9]:
data_order_prior = pd.read_csv("order_products__prior.csv")
print(f"Number of records: {len(data_order_prior)}")
data_order_prior.head()

Number of records: 21747132

   order_id  product_id  add_to_cart_order  reordered
0         2     33120.0                1.0        1.0
1         2     28985.0                2.0        1.0
2         2      9327.0                3.0        0.0
3         2     45918.0                4.0        1.0
4         2     30035.0                5.0        0.0

In [10]:
data_order_train = pd.read_csv("order_products__train.csv")
print(f"Number of records: {len(data_order_train)}")
data_order_train.head()

Number of records: 1384617

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [ ]:
#Pre-process the data
#Data array with user - order_id - product_id